@import "node_modules/ol/ol.css";
html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.button-map3d {
  top: 65px;
  left: .5em;
}

.ol-touch .button-map3d {
  top: 80px;
}

.button-load {
  top: 90px;
  left: .5em;
}

.ol-touch .button-load {
  top: 105px;
}

.button-save {
  top: 115px;
  left: .5em;
}

.ol-touch .button-save {
  top: 130px;
}

.button-map2d {
  top: .5em;
  left: .5em;
}